{% extends 'base.html' %}
{% block style %}
.card-text{
  color:black;
}
.container{
  padding-bottom:50px;
}
.album{
  top:60px;
  position:relative; 
}
{% endblock style %}
{% block body %}
<br><br>
<h1>Home</h1>
<br><br>
<h4>Recent media </h4>
<div class="album py-5" >
    <div class="container" >
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col d-block w-25 h-10">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/random/1080x1080" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">The song name.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">play</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-block w-25 h-10">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/random/1081x1081" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">The song name.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">play</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-block w-25 h-10">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/random/1082x1082" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">The song name.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">play</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col d-block w-25 h-10">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/random/1083x1083" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">The song name.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">play</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-block w-25 h-10">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/random/1084x1084" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">The song name.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">play</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-block w-25 h-10">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/random/1085x1085" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">The song name.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">play</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col d-block w-25 h-10">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/random/1086x1086" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">The song name.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">play</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-block w-25 h-10">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/random/1087x1087" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">The song name.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">play</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
